@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");

$background-color: rgb(6 48 72);
$red: rgb(232 25 50);
$white: rgb(255, 255, 255);
$grey: #e8eded;
$header-bg-color: #f9f9f9;

$margin-top: 4rem;
