@use "../../styles/variables";

.search {
  max-width: 900px;
  margin: auto;
  background: #3c5165;
  padding: 20px;

  &__group {
    position: relative;
    padding-right: 5px;
  }
  &__date {
    svg {
      position: absolute;
      top: 10px;
      right: 18px;
      width: 36px;
      color: #99a2b1;
    }
  }
  &__passenger {
    position: absolute;
    background-color: variables.$white;
    width: 100%;
    left: 0;
    top: 76px;
  }
  &__btn {
    height: 60px;
    svg {
      width: 25px;
    }
  }
  &__select {
    div {
      border-radius: 0;
      border: 0;
    }
    &__value-container {
      padding: 13px 8px !important;
    }
  }
  &__pass-btn {
    box-shadow: 0 0 6px #ccc;
  }
  &__cabin-type {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    input {
      position: relative;
      top: 2px;
      margin-right: 5px;
    }
  }
  .form-control {
    border-radius: 0;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .form-control-dark {
    background-color: #242a38;
    border-color: #242a38;
    color: variables.$white;
  }
  .mobile-space {
    @media screen and (max-width: 767px) {
      margin-top:45px;
    }
  }
}
